.header {
    position: fixed;
    top: 0
}

.message-list {
    position:absolute;
    top:0px;
    bottom:0px;
    overflow:scroll
}

.message-list-contents {
    width:100%;
    flex-direction:column
}

.direct-user-list {
    background-color: #EAF0F6;
    border-radius: 5px;
    padding: 2%;
}

.chat-list-current-user-name {
    font-size: x-large;
    font-weight: 700;
}

.user-with-presence {
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.chat-list-avatar {
    position: relative;
    top: 0;
    left: 0;
    width: 3em;
    height: 3em;
    border-radius: 50%
}

.chat-list-name {
    font-size: larger;
    padding-left: 0.5em;
}

.presence-dot-none {
    position: absolute;
    top: 35px;
    left: 35px;
    width: 1em;
    height: 1em;
}

.presence-dot-online {
    position: absolute;
    top: 35px;
    left: 35px;
    width: 1em;
    height: 1em;
    background-color: #10FF00;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
}

.presence-dot-gray {
    position: absolute;
    top: 35px;
    left: 35px;
    width: 1em;
    height: 1em;
    background-color: #B9B9B9;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
}

.unread-message-indicator {
    color: var(--demo-text-white);
    border-radius: 50%;
    text-align: center;
    height: 1.5em;
    width: 1.5em;
    margin-top: 0.75em;
    line-height: 1.5em;
    background: var(--pubnub-color-brick);
    float: right;
}

.hidden {
    visibility:hidden;
}

.message-input-bar {
    background-color: #FFFFFF;
    width:100%;
}

.message-input {
    padding: 6px 15px 6px 15px;
    box-sizing: border-box;
    border-radius: 12px;
    font-size: medium;
    caret-color: auto;
    width:100%;
}

.message-input-icon {
    font-size:xx-large;
    cursor: pointer;
}

.message {
    font-size:large;
    width: 90%;
    margin: 8px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    box-sizing: border-box;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.message-them {
    padding: 6px 20px 6px 10px;
    background-color: #FFFFFF;
    border-bottom-right-radius: 30px;
}

.message-you {
    padding: 6px 10px 6px 20px;
    background-color: #EAF0F6;
    border-bottom-left-radius: 30px;
}

.message-you-avatar {
    display:block;
    width:fit-content;
    float:right
}

.message-you-avatar-contents {
    display:block;
    width:fit-content;
    float:right
}

.message-reacted {
    font-size:medium;
}

.youText {
    float: right;
}

.message-time {
    font-size: x-small;
}

.message-sender {
    font-size: small;
}

.messageCheck {
    font-size: x-large;
}

.typing-indicator {
    font-size: medium;
    width:100%;
}

.typing-indicator-dots {
    visibility:hidden;
}

.emoji-picker {
    z-index:1;
    position:absolute;
    visibility:hidden
}