body {
    display: flex;
    flex-flow: column;
    height: 50vh;
    min-height: -webkit-fill-available;
    min-height: -moz-available;
    overflow: hidden;
}

.admin-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    overflow: scroll;
}

#name-container {
    display: flex;
    gap: 16px;
}

.page {
    display:flex;
    justify-content: center;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--color-background-text-secondary);
    border-radius: 6px;
    background: var(--color-background);
    margin-top: 8px;

    padding: 24px;
    flex-basis: fit-content;
}

#avatar {
    align-self: center;
    margin-top: 8px;
}

#lblName {
    align-self: center;
    font-weight: 600;
}

#profileTable {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

.profile-row {
    display:flex;
    justify-content:space-between;
    margin-top: 8px;
    margin-bottom: 16px;
}

.top-row {
    margin-top: 40px !important;
}

.bottom-border {
    padding-bottom:8px;
    border-bottom: 1px solid var(--color-background-text-secondary);
}

#userId {
    padding-right: 100px;
    white-space: nowrap;
}

#logoutButtonRow {
    flex-direction: column;
    text-align: center;
    margin-top: 32px;
}

@media screen and ( max-width: 576px ) { 
    .page {
        flex-direction: column;
        justify-content: unset;
    }
    .profile-card {
        margin-top: 0px;
    }
    #userIdRow {
        flex-direction: column;
    }
    #firstLoginRow {
        flex-direction: column;
    }
    #lblUserId {
        margin-top: 8px;
    }
    #lblFirstLogin {
        margin-top: 8px;
    }
    .red-ellipse-bkd {
        display:none;
    }
  }