:root {
    --pubnub-color-navy: #161C2D;
    --pubnub-color-cherry: #CD2026;
    --pubnub-color-white: #FFFFFF;
    --pubnub-color-seafoam: #72A9AD;
    --pubnub-color-teal: #306270;
    --pubnub-color-brick: #9A1A1E;
    --demo-primary: var(--pubnub-color-brick);
    --demo-secondary: var(--pubnub-color-seafoam);
    --demo-text-white: var(--pubnub-color-white);
}

body {
    font-family: 'Poppins';
    background-color: rgb(245, 247, 250);
    caret-color: transparent;
}

.app-header {
    background-color: var(--demo-primary); 
    color: var(--demo-text-white); 
}

.bottom-nav-item {
    background: var(--demo-primary);
    color: var(--demo-text-white);
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
}

.bottom-nav-item:hover {
    color: var(--demo-text-white);
}

.bottom-nav-item:visited {
    color: var(--demo-text-white);
}

.avatar {
    border-radius: 5px;
    padding: 1px;
    width: 4em;
    height: 4em;
    cursor: pointer;
}

.btn-pn {
    background: var(--demo-secondary);
    border-radius: 8px;
    padding: 16px 16px;
    font-style: normal;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
}

.btn-pn-small {
    border-radius: 8px;
    padding: 8px 8px;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
}

.btn-pn-clear {
    background: var(--demo-text-white);
    border: 1px solid #33687B;
    color: #33687B;
}


.btn-pn:hover {
    background: #155c76;
    color: var(--demo-text-white);
}

.btn-pn-clear:hover {
    background: #155c76;
    color: var(--demo-text-white);
}

.form-control {
    border: 1px solid #33687B;
    border-radius: 8px;
    caret-color: auto;
}

.card-header {
    background-color: var(--demo-secondary);
}