body {
    font-family: 'Poppins';
    background-color: rgb(245, 247, 250);
    caret-color: transparent;
}

.bottom-nav-item {
    background: #9A1A1E;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    padding:5px;
}

.bottom-nav-item:hover {
    color: white;
}

.bottom-nav-item:visited {
    color: white;
}

.avatar {
    border-radius: 5px;
    padding: 1px;
    width: 4em;
    height: 4em;
    cursor: pointer;
}

.btn-pn {
    background: #72A9AD;
    border-radius: 8px;
    padding: 16px 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
}

.btn-pn-small {
    background: #72A9AD;
    border-radius: 8px;
    padding: 8px 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
}

.btn-pn:hover {
    background: #155c76;
    color: #FFFFFF;
}

.btn-pn-small:hover {
    background: #155c76;
    color: #FFFFFF;
}

.btn-pn-clear {
    background: #FFFFFF;
    border: 1px solid #33687B;
    border-radius: 8px;
    padding: 16px 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 24px;
    line-height: 24px;
    color: #33687B;
}

.form-control {
    border: 1px solid #33687B;
    border-radius: 8px;
    caret-color: auto;
}
