body {
    display: flex;
    flex-flow: column;
    height: 100vh
}

a {
    text-decoration: none;
}

.main-container {
    display: flex;
    flex-flow: row;
    height: 100vh;
    overflow: scroll;
}

.form-check-label {
    margin-left: 12px;
}

.stream-selection {
    background-color: var(--color-background);
    margin: 16px;
    padding: 24px;
    border: 1px solid var( --color-background-text-secondary);
    border-radius: 6px;
}

.stream-option {
    margin-top: 28px;
}

.rt-message-container {
    padding-bottom:5px;
}

.rt-title {
    font-weight: 600;
    font-style: italic;
    padding-right: 5px;
}

.rt-sub-title {
    font-weight: 600;
}

.message-list {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    overflow: scroll;
    flex-direction: column-reverse;
    width:100%;
}

.message-list-contents {
    width: 100%;
    flex-direction: column;
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
}

@media screen and ( max-width: 576px ) { 
    body {
        height: 50vh;
        min-height: -webkit-fill-available;
        min-height: -moz-available;
    }
    .main-container { flex-flow: column; }
    .red-ellipse-bkd {
        display:none;
    }
  }


