body {
    display: flex;
    flex-flow: column;
    height: 100vh
}

a {
    text-decoration: none;
}

.main-container {
    display: flex;
    flex-flow: row;
    height: 100vh;
    overflow: scroll;
}


.stream-selection {
    background-color: #FFFFFF;
}

.stream-option {
    font-size: large;
    padding-bottom: 3px;
    padding-top: 3px;
}

.rt-message-container {
    padding-bottom:5px;
}

.rt-title {
    font-weight: 600;
    font-style: italic;
    padding-right: 5px;
}

.rt-sub-title {
    font-weight: 600;
}

.message-list {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    overflow: scroll;
    flex-direction: column-reverse;
    width:100%;
}

.message-list-contents {
    width: 100%;
    flex-direction: column;
    display: flex;
}

@media screen and ( max-width: 576px ) { 
    .main-container { flex-flow: column; }
  }


